

.App {
  text-align: center;
}

.star{font-family: 'Star Wars', sans-serif;
font-size: 20px;
line-height: 35px;
@media (min-width : 576px){
font-size: 30px;
line-height: 55px;
}
@media (min-width : 1024px){
  font-size: 60px;
  line-height: 85px;
  }
}