

.App {
  text-align: center;
}

.star{font-family: 'Star Wars', sans-serif;
font-size: 20px;
line-height: 35px;
@media (min-width : 576px){
font-size: 30px;
line-height: 55px;
}
@media (min-width : 1024px){
  font-size: 60px;
  line-height: 85px;
  }
}

.galeria-swal2-title {
  background: linear-gradient(
    180deg,
    rgba(58, 44, 40, 0) 5.15%,
    #1d1d1d 81.96%
  );
  position: absolute !important;
  bottom: 0px;
  width: 100%;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300 !important;
  user-select: none;
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px !important;
  text-transform: capitalize !important;
  font-size: 20px !important;
}
.galeria-swal2-popup {
  width: 100% !important ;
}

.galeria-swal2-image {
  margin: 0px !important;
  /* border: 1px solid #cfab82; */
  width: 100% !important;
}
.swal2-close {
  color: #404040 !important;
  &:focus {
    box-shadow: none !important;
  }
}